file-processing @ git+https://github.com/hc-sc-ocdo-bdpd/file-processing.git@main
file-processing-ocr @ git+https://github.com/hc-sc-ocdo-bdpd/file-processing-ocr.git@main
file-processing-transcription @ git+https://github.com/hc-sc-ocdo-bdpd/file-processing-transcription.git@main
file-processing-analytics @ git+https://github.com/hc-sc-ocdo-bdpd/file-processing-analytics.git@main
file-processing-test-data @ git+https://github.com/hc-sc-ocdo-bdpd/file-processing-test-data.git@main
jupyter
ipykernel